[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CGGP"]
	path = CGGP
	url = https://github.com/collinerickson/cggp
[submodule "comparer"]
	path = comparer
	url = https://github.com/collinerickson/comparer
[submodule "ContourFunctions"]
	path = ContourFunctions
	url = https://github.com/collinerickson/contourfunctions
[submodule "GauPro"]
	path = GauPro
	url = https://github.com/collinerickson/gaupro
[submodule "mixopt"]
	path = mixopt
	url = https://github.com/collinerickson/mixopt
[submodule "sFFLHD"]
	path = sFFLHD
	url = https://github.com/collinerickson/sfflhd
[submodule "splitfngr"]
	path = splitfngr
	url = https://github.com/collinerickson/splitfngr
[submodule "TestFunctions"]
	path = TestFunctions
	url = https://github.com/collinerickson/testfunctions
